/* section GENERIC */

.section {
  padding-top: 60px;

  &--bottom-pad {
    padding-bottom: 60px;
  }

  @media screen and (min-width: #{$desktop}) {
    padding-top: 95px;

    &--bottom-pad {
      padding-bottom: 94px;
    }
  }
  &--bkg-gray {
    background-color: var(--bkg-color-section);
  }
}

.section__header {
  /* font-weight: bold; */
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 30px;

  color: var(--text-color-secondary);

  @media screen and (min-width: #{$desktop}) {
    font-size: 36px;
    line-height: 1.17;

    margin-bottom: 50px;
  }
}
