/* section TRAITS */

.traits-list {
  justify-content: start;
}

.trait {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.trait__icon-container {
  background-color: var(--bkg-color-section);
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.trait__header {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
  margin-bottom: 10px;
}

.trait__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
